.header-background{
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main-grid{
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.banner-text{
  width: 70%;
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
  border-radius: 10px;
  opacity: 0.7;
  margin: auto;
}
.banner-text{
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.banner-text p{
  font-size: 25px;
  padding: 5px;
 }
 .social i{
   font-size: 45px;
   padding: 10px;
 }
